body{
  background-color: #394943;
}
header{
  color:white;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
url(header-img.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center; 
padding: 100px 80px 100px 80px; 
  font-style: normal;
}
.title{
 letter-spacing: 2px;
  font-size: 70px;

}
h2{
  letter-spacing: 5px;

  font-size: 50px;
}
.main{
  margin: 0 auto;
  max-width: 1150px;
  padding: 40px;
}
ul{
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap:10px;
}
li{
  margin: 10px;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  padding: 10px;
}
a{
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  background-color:  #b35448;
  border: none;
  width: 200px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
}